<div class="flex-container">
    <h3>Lists</h3>
    <div>
        <button color="primary" mat-raised-button (click)="openForm()">Add</button>
    </div>
</div>

<mat-action-list>
    <button mat-list-item (click)="openList(list)" *ngFor="let list of listOfLists">
        <div class="flex-item grow">
            {{list?.name}}
        </div>
        <div class="flex-item">
            <app-stars [buttons]="false" [rating]="list?.movies | averageRating"></app-stars>
        </div>
        <div class="flex-item">
            <mat-chip>{{list?.movies?.length}}</mat-chip>
        </div>
    </button>
</mat-action-list>