<h3>Lists</h3>
<button mat-button (click)="openForm()">Add</button>
<mat-action-list>
    <button mat-list-item (click)="openList(list)" *ngFor="let list of listOfLists">
       
            <div>
                {{list?.name}}
            </div>
            <div>
                <app-stars [buttons]="false" [rating]="list?.movies | averageRating"></app-stars>
            </div>

            <div>
                <mat-chip>{{list?.movies?.length}}</mat-chip>
            </div>
        
    </button>
</mat-action-list>