
<div *ngIf="currentMovieList && app.search ===''">
    <h3>{{currentMovieList?.name}}</h3>
    <div *ngIf="(app.currentMovieList$ | async)?.movies?.length > 0">
        <mat-form-field>
            <input matInput placeholder="Filter by" [(ngModel)]="app.filter" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select [(ngModel)]="app.sortBy">
                <mat-option value="title-asc">Title (asc)</mat-option>
                <mat-option value="title-desc">Title (desc)</mat-option>
                <mat-option value="rating-asc">Rating (asc)</mat-option>
                <mat-option value="rating-desc">Rating (desc)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <mat-list>
        <app-movie [movie]="movie" [showDelete]="true" *ngFor="let movie of app.filteredMovieList$ | async"></app-movie>
    </mat-list>

    <div *ngIf="(app.currentMovieList$ | async)?.movies?.length === 0">
        <p>...Your list is empty. Use the search bar to add movies</p>

    </div>
</div>