<mat-form-field>
    <input matInput placeholder="Search by title" [(ngModel)]="title">
</mat-form-field>
<button mat-button (click)="search()">Search</button>
<mat-list>
    <app-movie [movie]="movie" *ngFor="let movie of movies"></app-movie>
    <!-- <mat-list-item *ngFor="let movie of movies"> -->
        <!-- <mat-card *ngFor="let movie of movies">
            <mat-card-header>
                <img mat-card-avatar src={{movie.poster}} alt="n/a">
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card> -->
    <!-- </mat-list-item> -->
</mat-list>
