<mat-card>
    <mat-card-header>
        <img mat-card-avatar src={{movie?.poster}} alt="n/a">
        <mat-card-title>{{movie?.title}}</mat-card-title>
        <mat-card-subtitle>{{movie?.year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-stars [rating]="movie?.rating" [buttons]="true" (vote)="saveRating($event)"></app-stars>
    </mat-card-content>

    <mat-card-actions>
        <mat-form-field *ngIf="showAdd">
            <mat-label>Add to lists</mat-label>
            <mat-select multiple>
                <mat-option (click)=selectOption($event) *ngFor="let list of app.movieLists$ | async ; index as i" [value]="i">{{list.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button *ngIf="showDelete" mat-button (click)="removeFromCurrentList()">Remove from
            {{this.app.currentMovieList?.name}}</button>
    </mat-card-actions>
</mat-card>